body {
    background-image: url();
}

div.main {
    background-color: steelblue;
    border: 3px solid black;
    max-width: 20em;
    padding: 1em;
    margin-bottom: 1em;
}

div.input {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: .5em;
}

section {
    padding: 1em;
    background-color: rgb(193, 227, 255);
}

section.input {
    padding-bottom: 0em;
    padding-top: 0em;
}

div.weather {
    border-top: 2px solid gray;
}

input#submit {
    margin-top: 1em;
}