body{
    margin: 0;
    background-image: url(../images/yogendra-singh-dE3exzmYlKc-unsplash.jpg);
    background-position: center;
    background-size: cover;
  }
  #parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/depth-3.png), url(../images/depth-2.png), url(../images/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }